<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="PHP Switcher" 
           Manufacturer="PHP Switcher Team" 
           Version="1.0.2" 
           UpgradeCode="5f5f5f5f-5f5f-5f5f-5f5f-5f5f5f5f5f5f">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="PHP Switcher" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ResourceComponents" />
    </Feature>
    
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PHP Switcher">
        <Directory Id="ResourcesFolder" Name="Resources" />
      </Directory>
    </StandardDirectory>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-123456789012">
        <File Id="PhpSwitcherEXE" Source="..\bin\Release\net9.0-windows\win-x64\publish\PhpSwitcher.exe" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut" 
                  Name="PHP Switcher" 
                  Directory="ProgramMenuFolder" 
                  WorkingDirectory="INSTALLFOLDER"
                  Advertise="yes"
                  Icon="icon.ico">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="PHPSwitcher" />
        </Shortcut>
        <RemoveFolder Id="RemoveProgramMenuFolder" Directory="ProgramMenuFolder" On="uninstall" />
      </Component>
      
      <Component Id="PdbFile" Guid="22345678-1234-1234-1234-123456789012">
        <File Id="PhpSwitcherPDB" Source="..\bin\Release\net9.0-windows\win-x64\publish\PhpSwitcher.pdb" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ResourceComponents" Directory="ResourcesFolder">
      <Component Id="FaviconFile" Guid="32345678-1234-1234-1234-123456789012">
        <File Id="FaviconICO" Source="..\bin\Release\net9.0-windows\win-x64\publish\Resources\favicon.ico" KeyPath="yes" />
      </Component>
      
      <Component Id="IconFile" Guid="42345678-1234-1234-1234-123456789012">
        <File Id="IconPNG" Source="..\bin\Release\net9.0-windows\win-x64\publish\Resources\icon.png" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <Icon Id="icon.ico" SourceFile="..\Resources\favicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
  </Package>
</Wix>